.block1 {
    width: 50%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.block1 img {
    width: 80%;
}

@media screen and (max-width: 700px) {
    .block1 img {
            position: absolute;
    }
}

@media screen and (max-width: 550px) {
    
}